
body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    letter-spacing: 0.03em;
}
footer {
    background-color: #2F303A;
}
address {
    color: #FFFFFF;
}
ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
h1, h2, h3 {
    margin: 0;

}



.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #000000;
}
.logo span {
    color: #2196F3;
}
.nav__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
}
.nav__link:hover {
    color: #2196F3;
}
.contact__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
}
.contact__link:hover {
    color: #2196F3;;
}

.business {
    background: #2F303A;
}
.business__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.business__buy-us {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    /* display: flex;
    align-items: center;
    text-align: center; */
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

.idea__name {
    font-weight: 700;
    font-size: 14px;
line-height: 1.14;
    text-transform: uppercase;
    color: #212121;
}
.idea__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: #757575;
}

.work__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: #212121;
}

.my-team__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: #212121;
}
.my-team__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: #212121;

}
.my-team__role {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: #757575;
}

.logo-white {
    color: #FFFFFF;
}
.address__location {
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    color: #FFFFFF;
}
.address__contact {
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}




.portfolio__elem {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.project__elem{
    border: 1px solid black;
}
.project__text {
    font-size: 18px;
    line-height: 2.00;
    letter-spacing: 0.06em;
    color: #212121;
}